# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments
.env
.env.*
venv/
.venv/
.envrc
.env.local
.python-version

# Ignore all CSV files
*.csv

# Keep folders in Git (so you can still store other artifacts)
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/models/.gitkeep
!artifacts/.gitkeep

# Raw data: ignore everything except EDA scripts and keepfile
/data/raw/*
!/data/raw/*.py
!/data/raw/.gitkeep

# Airflow
/airflow/logs/
/airflow/airflow.db
/airflow/airflow-webserver.pid
/airflow/unittests.cfg

# Tracking
/mlruns/

# Notebooks
.ipynb_checkpoints/

# Tests/cache
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
coverage.xml

# Build/output
dist/
build/

# OS/files
.DS_Store
Thumbs.db
.idea/
.vscode/
