# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments
.env
.env.*
venv/
.venv/
.envrc
.env.local
.python-version

# Data artifacts
/data/raw/
/data/processed/
/data/models/
/artifacts/

# Airflow
/airflow/logs/
/airflow/airflow.db
/airflow/airflow-webserver.pid
/airflow/unittests.cfg

# Tracking
/mlruns/

# Notebooks
.ipynb_checkpoints/

# Tests/cache
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
coverage.xml

# Build/output
dist/
build/

# OS/files
.DS_Store
Thumbs.db
.idea/
.vscode/
