# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments
.env
.env.*
venv/
.envrc

# Data artifacts
/data/raw/
/data/processed/
/data/models/
/artifacts/

# Airflow
/airflow/logs/

# Notebooks
.ipynb_checkpoints/

# OS/files
.DS_Store
Thumbs.db
